.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.grid {
  margin: 0 auto;
  margin-top: 20px;
  border: 1px solid #ccc;
  border-width: 1px 0 0 1px;
}

.grid div {
  border: 1px solid #ccc;
  border-width: 0 1px 1px 0;
  float: left;
}

.rover {
  position: absolute;
  background-image: url('./icons/rover.png');
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
